.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 10px 20px;
    margin-top: 0px;
}

.navbar img {
    height: 40px;
}


.menu-icon {
    display: none;
    cursor: pointer;
    color: #fff;
    font-size: 24px;
}
#menu-toggle {
    position: fixed;
    left: -20px;
}

.menu {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.menu li {
    margin-right: 15px;
}

.menu a {
    text-decoration: none;
    color: #efe7e7;
}

@media only screen and (max-width: 500px) {
    
    .navbar img {
        height: 30%;
        width: 45%;
    }
    .menu {
        border-radius: 10px;
        display:none;
        flex-direction: column;
        position: fixed;
        top: 1.5%;
        left: 30%;
        width: 70%;
        height: 100%;
        box-shadow: 0 0px 0px rgba(227, 27, 27, 0.1);
        z-index: 1;
        /* height: 100vh;
        width: 300px;
        left: -300px; */
        background-color: rgba(5, 0, 0, 0.737);
        
        /* transition: all 0.4 linear; */
    }
    #three {
        text-align: end;
        margin-right: 15px;
        margin-bottom: 20px;
    }
    #listitem {
        margin-bottom:1rem;
        margin-left: 0.5rem;
        margin-right: 0.5rem;
        padding: 2rem 0 2rem 0;
        border: 2px solid #efe7e7;
        border-radius: 10px;
        /* box-shadow: 0 0 6px rgba(255, 255, 255, o.5); */
    }
    
    .menu-icon {
        display: block;
    }

    #menu-toggle:checked ~ .menu {
        display: flex;
        
    }

    .menu li {
        margin-right: 0;
        text-align: center;
    }
}


/* .navbar {
    background-color: rgba(116, 147, 239, 0.97);
    height: 2rem;
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    
} */