.home {
    background-image: url(https://images.pexels.com/photos/281260/pexels-photo-281260.jpeg?cs=srgb&dl=pexels-francesco-ungaro-281260.jpg&fm=jpg);
    background-size:cover;
    background-position: center;
    padding-top: 2px;
    padding-bottom: 60px;
    display: block;
    font-family:sans-serif;
    color: white;
}
.span{
    font-size:xx-large;
    font-weight: 600;
}
.bike {
    width: 30%;
}
.team {
    margin: 7px 7px 7px 7px;
    width: 40%;
    border-radius: 5px;
    box-shadow: 2px 2px 4px rgba(230, 61, 61, 0.33);
}
.comareImg{
    width: 70%;
    height: 100%;
}
.comapre {
    font-style: italic;
    font-weight: 600;
}
.about {
    border-radius: 10px;
    margin: 7px 15% 7px 15%;
    background-color: rgb(247, 251, 254);
    display: inline-flex;
    justify-content: space-evenly;
}
.para {
    font-size: small;
    font-weight: 100;
    /* padding-top: 8px; */
    padding-bottom: 0px;
}
.vision{
    display: inline-flex;
    justify-content: space-evenly;
    font-style: italic;
    font-weight: bold;
}
.contact {
    padding-top: 10px;
    padding-bottom: 15px;
}
.text {
    text-decoration: none;
}
@media only screen and (max-width: 500px) {
    .bike {
        width: 60%;
    }
    .home {
        display: block;
    }
    .para {
        padding-top: 0;
    }
    .about {
        display: block;
    }
    .vision {
        display: flex ;
        flex-direction: column;
        justify-content: center;
        text-align: center;

    }
}
.underline {
    text-decoration: underline;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 700;
}